@model PohybStrava.Models.Activity

@{
    ViewData["Title"] = "Úprava údajů";
}

<body>
    <div id="sirkatextuhlavnistrana">
        <h3>Úprava údajů</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ActivityId" />
                    <div class="form-group">
                        <label asp-for="DateActivity" class="control-label"></label>
                        <input asp-for="DateActivity" class="form-control" />
                        <span asp-validation-for="DateActivity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trail" class="control-label"></label>
                        <input asp-for="Trail" class="form-control" />
                        <span asp-validation-for="Trail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Distance" class="control-label"></label>
                        <input asp-for="Distance" class="form-control" />
                        <span asp-validation-for="Distance" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Elevation" class="control-label"></label>
                        <input asp-for="Elevation" class="form-control" />
                        <span asp-validation-for="Elevation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label"></label>
                        <input asp-for="Time" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pace" class="control-label"></label>
                        <input asp-for="Pace" class="form-control" />
                        <span asp-validation-for="Pace" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnergyActivity" class="control-label"></label>
                        <input asp-for="EnergyActivity" class="form-control" />
                        <span asp-validation-for="EnergyActivity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="pridat-tlacitko" value="Uložit" />
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div>
            <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
        </div>
    </div>
</body>
