@model PohybStrava.Models.Diet

@{
    ViewData["Title"] = "Upravit záznam";
}

<body>
    <div id="sirkatextuhlavnistrana">
        <h3>Úprava údajů</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DietId" />
                    <div class="form-group">
                        <label asp-for="DateDiet" class="control-label"></label>
                        <input asp-for="DateDiet" class="form-control" />
                        <span asp-validation-for="DateDiet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Food" class="control-label"></label>
                        <input asp-for="Food" class="form-control" />
                        <span asp-validation-for="Food" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnergyDiet" class="control-label"></label>
                        <input asp-for="EnergyDiet" class="form-control" />
                        <span asp-validation-for="EnergyDiet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="pridat-tlacitko" value="Uložit" />
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div>
            <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
        </div>
    </div>
</body>

