@model IEnumerable<PohybStrava.Models.Diet>

@{
    ViewData["Title"] = "Přehled stravy";
}

<h4>Před použitím aplikace je třeba se <a href="https://localhost:7254/Account/Login">přihlásit</a>/<a href="https://localhost:7254/Account/Register">registrovat</a>.</h4>

