@model IEnumerable<PohybStrava.Models.User>

@{
    ViewData["Title"] = "Informace o sportovci";
}


<h4>Před použitím aplikace je třeba se <a href="https://localhost:7254/Account/Login">přihlásit</a>/<a href="https://localhost:7254/Account/Register">registrovat</a>.</h4>


